main > * {
    padding: 15px;
}

.aside button {
    width: 100%;
    background-color: var(--theme-trim);
}

#console {
    position: absolute;
    width: 25ch;
    bottom: 0;
    right: 0;
    z-index: 10;

    color: black;
    opacity: 90%;

    background: linear-gradient(transparent, var(--theme-highlight));
}

#console > * {
    margin: 5px 10px;
}

table {
    background-color: white;
    border-radius: 5px;
}

table.dataTable tbody tr.odd {
    background-color: #ddd;
}

.aside {
    display:flex;
    flex-direction: column;
    align-self: stretch;

    justify-content: center;
    align-items: center;

    color: white;
    background-color: var(--theme-highlight);
}

.content {
    width: 95%;
    justify-self: center;
}

@media screen and (min-width: 600px) {
    main {
        display: grid;
        grid-template-columns: max-content 1fr;
    }
}
