@font-face {
    font-family: "iosevka";
    src: local("iosevka"), url("iosevka-regular.ttc");
}

:root {
    --theme-bg: #b2d7bf;
    --theme-trim: #626262;
    --theme-highlight: #888;
    --theme-primary: #1ed760; /* BS green #28a745 */
}

* {
    font-family: "iosevka";
    box-sizing: border-box;
}

.notify {
    padding: 1px;
    border-radius: 3px;

    background-color: var(--theme-primary);
    border-color: gray;
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar > * {
    flex: 0 15ch;
    text-align: center;
}

header .navbar {
    font-weight: bold;
}

:is(header, footer) a {
    color: inherit;
    text-decoration: inherit;
}

:is(header, footer) a:hover {
    color: var(--theme-primary);
}

.nav-split {
    margin-left: auto;
}

@media (prefers-color-scheme: dark) {
    :root {
        --theme-bg: darkgrey;
    }
}

body {
    margin: 0px;
    height: 100vh;

    display: grid;
    grid-template-rows: 30px 1fr 30px;

    background-color: var(--theme-bg);
}

main {
    position: relative;
}

header, footer {
    flex: 0 30px;
    color: white;
    background-color: var(--theme-trim);
}

button {
    color: inherit;
    background-color: var(--theme-highlight);

    padding: 5px;

    border-radius: 8px;
    border: 2px solid var(--theme-primary);
}

button:hover {
    background-color: var(--theme-primary) !important;
}

input, button {
    margin: 5px;
}

@media screen and (max-height: 400px) {
    body {
        grid-template-rows: 30px 1fr;
    }

    footer.navbar {
        display: none !important;
    }
}

