@font-face {
    font-family: "iosevka";
    font-display: swap;
    font-weight: 400;
    src: local("iosevka"), url("fonts/iosevka-regular.ttf") format("truetype"), url("fonts/iosevka-regular.woff2") format("woff2");
}

@font-face {
    font-family: "iosevka";
    font-display: swap;
    font-weight: 700;
    src: local("iosevka"), url("fonts/iosevka-bold.ttf") format("truetype"), url("fonts/iosevka-bold.woff2") format("woff2");
}

:root {
    --theme-bg: #b2d7bf;
    --theme-trim: #626262;
    --theme-highlight: #888;
    --theme-primary: #1ed760;
    --theme-secondary: #00a5ff;
    --theme-danger: #ff3757;
}

* {
    font-family: 'iosevka', 'Lucida Console', 'Courier New', monospace;
    box-sizing: border-box;
}

#notify {
    padding: 1px;
    border-radius: 3px;

    background-color: var(--theme-primary);
    border-color: gray;
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar > * {
    flex: 0 15ch;
    text-align: center;
}

header .navbar {
    font-weight: bold;
}

hr {
    color: black;
    width: 100%;
}

a.tbl-link:visited {
    color: var(--theme-primary);
}

a.tbl-link {
    text-decoration: inherit;
}

:is(header, footer) a {
    color: inherit;
    text-decoration: inherit;
}

:is(header, footer) a:hover {
    color: var(--theme-primary);
}

.nav-split {
    margin-left: auto;
}

@media (prefers-color-scheme: dark) {
    :root {
        --theme-bg: darkgrey;
    }
}

body {
    margin: 0px;
}

.body {
    height: 100vh;

    display: grid;
    grid-template-rows: 30px 1fr 30px;

    background-color: var(--theme-bg);
}

main {
    position: relative;
}

header, footer {
    flex: 0 30px;
    color: white;
    background-color: var(--theme-trim);
}

button {
    color: inherit;
    background-color: var(--theme-highlight);

    padding: 5px;
    border: 2px solid var(--theme-primary);
}

button:hover {
    background-color: var(--theme-primary) !important;
}

input, button {
    border-radius: 5px;
    margin: 5px;
}

.failed {
    border-color: var(--theme-danger);
}

input {
    padding: 2px 5px;
}

input[type="password"] {
    font-family: caption;
}

@media screen and (max-height: 400px) {
    .body {
        grid-template-rows: 30px 1fr;
    }

    footer.navbar {
        display: none !important;
    }
}

